<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Aplicativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="appForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bundle ID</ion-label>
      <ion-input type="text" formControlName="bundle_id" required></ion-input>
    </ion-item>
    <ion-button shape="round" color="primary" expand="block" [disabled]="!appForm.valid" (click)="save()">Salvar</ion-button>
  </form>
</ion-content>